// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2022 Toradex
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include "imx8mm-verdin.dtsi"

/ {
	model = "Toradex Verdin iMX8M Mini on Mallow for Climate Production Test";
	compatible = "toradex,verdin-imx8mm-nonwifi-dahlia",
		     "toradex,verdin-imx8mm-nonwifi",
		     "toradex,verdin-imx8mm",
		     "fsl,imx8mm";

	led-controller {
		compatible = "pwm-leds";

		led-1 {
			color = <LED_COLOR_ID_GREEN>;
			label = "LED1";
			pwms = <&pwm2 0 6666667 0>;
		};

		led-2 {
			color = <LED_COLOR_ID_GREEN>;
			label = "LED2";
			pwms = <&pwm3 0 6666667 0>;
		};
	};

	reg_2p5v_ref: regulator-2p5v {
		compatible = "regulator-fixed";
		regulator-max-microvolt = <2500000>;
		regulator-min-microvolt = <2500000>;
		regulator-name = "2.5V_REF";
	};
};

&ecspi2 {
	pinctrl-0 = <&pinctrl_ecspi2 &pinctrl_gpio1 &pinctrl_gpio2
		     &pinctrl_gpio3 &pinctrl_gpio4 &pinctrl_climate_gpio5
		     &pinctrl_climate_gpio6>;
	cs-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>, <&gpio3 4 GPIO_ACTIVE_LOW>,
		   <&gpio5  5 GPIO_ACTIVE_LOW>, <&gpio5 26 GPIO_ACTIVE_LOW>,
		   <&gpio5 27 GPIO_ACTIVE_LOW>, <&gpio4 24 GPIO_ACTIVE_LOW>,
		   <&gpio4 25 GPIO_ACTIVE_LOW>;
	/* DMAs prevent more than 3 CS */
	dmas = "";
	dma_names = "";
	status = "okay";

	/*
	 * This is not needed but always defined, even if left away, so define
	 * it explicitly and leave it unused.
	 */
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};

	adc@1 {
		compatible = "microchip,mcp3208";
		reg = <1>;
		label = "ClimateProdTest_ADC1";
		spi-max-frequency = <1000000>;
		vref-supply = <&reg_2p5v_ref>;
	};

	adc@2 {
		compatible = "microchip,mcp3208";
		reg = <2>;
		label = "ClimateProdTest_ADC2";
		spi-max-frequency = <1000000>;
		vref-supply = <&reg_2p5v_ref>;
	};

	dac@3 {
		compatible = "lltc,ltc1660";
		reg = <3>;
		label = "ClimateProdTest_DAC1";
		spi-max-frequency = <5000000>;
		vref-supply = <&reg_2p5v_ref>;
	};

	gpioexp1: gpio@4 {
		compatible = "microchip,mcp23s17";
		gpio-controller;
		#gpio-cells = <2>;
		microchip,spi-present-mask = <0x02>;
		reg = <4>;
		spi-max-frequency = <5000000>;
		gpio-line-names = "Reserved_X14_0",
				  "Reserved_X14_1",
				  "Reserved_X16_2",
				  "Reserved_X16_3",
				  "Reserved_X17",
				  "Reserved_X18",
				  "Reserved_X19",
				  "Reserved_X20",
				  "Fan2_Tacho_Out",
				  "Fan4_Tacho_Out",
				  "Fan3_Tacho_Out",
				  "Fan1_Tacho_Out",
				  "Reserved_X23",
				  "Reserved_X24",
				  "Reserved_X25",
				  "_230V_ON";
	};

	gpioexp2: gpio@5 {
		compatible = "microchip,mcp23s17";
		gpio-controller;
		#gpio-cells = <2>;
		microchip,spi-present-mask = <0x10>;
		reg = <5>;
		spi-max-frequency = <5000000>;
		gpio-line-names = "Error_In",
				  "HeatValve_In",
				  "Reserved_X9_14",
				  "CoolValve_In",
				  "Reserved_X9_15",
				  "Reserved_X21",
				  "SKS_State",
				  "Start_Button",
				  "Detect1_Out",
				  "Detect1_In",
				  "Detect2_Out",
				  "Detect2_In",
				  "DUT_24V_X10_1",
				  "DUT_24V_X1_4",
				  "DUT_24V_X8_5",
				  "DUT_24V_X10_5";
	};

	gpioexp3: gpio@6 {
		compatible = "microchip,mcp23s17";
		gpio-controller;
		#gpio-cells = <2>;
		microchip,spi-present-mask = <0x04>;
		reg = <6>;
		spi-max-frequency = <5000000>;
		gpio-line-names = "DUT_GND_X8_4",
				  "DUT_GND_X7_9",
				  "DUT_GND_X10_8",
				  "DUT_GND_X7_8",
				  "DUT_GND_X10_4",
				  "DUT_GND_X7_4",
				  "DUT_GND_X12_12",
				  "DUT_GND_X7_3",
				  "DUT_GND_X12_4",
				  "DUT_GND_X8_8",
				  "DUT_GND_X12_6",
				  "DUT_GND_X1_6",
				  "DUT_GND_X12_10",
				  "DUT_24V_X12_7",
				  "DUT_24V_X12_1",
				  "DUT_24V_X8_1";
	};
};

&fec1 {
	status = "okay";
};

&hwmon_temp {
	status = "okay";
};

&i2c4 {
	status = "okay";

	eeprom@55 {
		compatible = "st,24c02";
		pagesize = <16>;
		reg = <0x55>;
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio7>, <&pinctrl_gpio8>,
		    <&pinctrl_gpio_hog1>, <&pinctrl_gpio_hog2>, <&pinctrl_gpio_hog3>,
		    <&pinctrl_pmic_tpm_ena>;

	/* Climate GPIO 5 and 6 are not used at the moment */
	pinctrl_climate_gpio5: climategpio5grp {
		fsl,pins =
			<MX8MM_IOMUXC_SAI2_TXFS_GPIO4_IO24		0x106>;	/* SODIMM 32 */
	};

	pinctrl_climate_gpio6: climategpio6grp {
		fsl,pins =
			<MX8MM_IOMUXC_SAI2_TXC_GPIO4_IO25		0x106>;	/* SODIMM 30 */
	};
};

/* Verdin PWM_1 */
&pwm2 {
	status = "okay";
};

/* Verdin PWM_2 */
&pwm3 {
	status = "okay";
};

/* Verdin UART_3 */
&uart1 {
	status = "okay";
};

/* Verdin UART_1 */
&uart2 {
	status = "okay";
};

/* Verdin UART_2 */
&uart3 {
	status = "okay";
};

/* Verdin USB_1 */
&usbotg1 {
	disable-over-current;
	status = "okay";
};

/* Verdin USB_2 */
&usbotg2 {
	disable-over-current;
	status = "okay";
};

/* Verdin SD_1 */
&usdhc2 {
	status = "okay";
};
