[Unit]
Description=User application start service
Requires=docker.service
After=docker.service
BindsTo=docker.service

[Service]
Type=simple
WorkingDirectory=/home/torizon/
ExecStartPre=/bin/bash -c 'echo Starting docker container'
ExecStart=/usr/bin/docker-compose -f docker-compose.prod.yml up -d --remove-orphans
ExecStartPost=rm -f /tmp/recovery-attempt.txt
ExecStop=/usr/bin/docker stop torizon-climateprodtestapp-1
RemainAfterExit=yes
Restart=always

[Install]
WantedBy=multi-user.target
