[Unit]
Description=Printer attach to docker container service
Requires=application.service
After=application.service
After=sys-subsystem-usbmisc-label_printer.device
BindsTo=sys-subsystem-usbmisc-label_printer.device

[Service]
Type=idle
WorkingDirectory=/home/torizon/
ExecStart=/usr/etc/systemd/system/add-printer.sh
RemainAfterExit=yes
Restart=always

[Install]
WantedBy=sys-subsystem-usbmisc-label_printer.device
